<div class="container">
  <div class="row">
    <div class="col-md-4">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav flex-column navbar-nav mr-auto">
            <li class="nav-item" > <a class="nav-link" href="index.html">Home</a></li>
            <li class="nav-item" > Another link</li>
            <li class="nav-item" > Another Another link</li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-md-8">
        {{body}}
        <p align="right">* <a href="{{infile_URL}}">Edit or Improve this page</a></p>
    </div>
  </div>
</div>
